@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #550751;
	color: #bada55;
}

nav {
	background-color: #2e022c;
}
